<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Exact_Ferret.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Exact_Ferret_Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Exact_Ferret.Properties.Settings>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="INTERVAL_MINUTES" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LOG_FILE_LOCATION" serializeAs="String">
                <value>%USERPROFILE%\Exact Ferret\Logs\ef.log</value>
            </setting>
            <setting name="LOG_ROLLOVER_KBYTES" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LOG_LEVEL" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IMAGE_LOCATION" serializeAs="String">
                <value>%USERPROFILE%\Exact Ferret\Pictures</value>
            </setting>
            <setting name="CHANGE_WALLPAPER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CHANGE_LOCK_SCREEN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAX_OLD_IMAGES" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="MINIMUM_IMAGE_WIDTH" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MINIMUM_IMAGE_HEIGHT" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="MINIMUM_IMAGE_RATIO" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="MAXIMUM_IMAGE_RATIO" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="SEARCH_TERM_MODIFIER" serializeAs="String">
                <value />
            </setting>
            <setting name="DOWNLOAD_ATTEMPTS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SAFE_SEARCH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="COLORS_IN_IMAGE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TYPE_OF_IMAGE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SEARCH_DOMAIN" serializeAs="String">
                <value />
            </setting>
            <setting name="WALLPAPER_STYLE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAXIMUM_IMAGE_WIDTH" serializeAs="String">
                <value>999999</value>
            </setting>
            <setting name="MAXIMUM_IMAGE_HEIGHT" serializeAs="String">
                <value>999999</value>
            </setting>
            <setting name="DICTIONARY_FILE" serializeAs="String">
                <value>%EXACTFERRET%\dictionary.txt</value>
            </setting>
            <setting name="HTTP_REQUEST_TIMEOUT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LOG_RETENTION_DAYS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="INTERVAL_SECONDS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BLOCKED_IMAGES" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="BLOCKED_DOMAINS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="GOOGLE_API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="API_LIMIT_WARNING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CYCLE_AT_API_LIMIT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SUNDAY_START" serializeAs="String">
                <value>2014-04-03</value>
            </setting>
            <setting name="SUNDAY_STOP" serializeAs="String">
                <value>04/03/2014 23:59:59</value>
            </setting>
            <setting name="MONDAY_START" serializeAs="String">
                <value>2014-04-03</value>
            </setting>
            <setting name="MONDAY_STOP" serializeAs="String">
                <value>04/03/2014 23:59:59</value>
            </setting>
            <setting name="TUESDAY_START" serializeAs="String">
                <value>2014-04-03</value>
            </setting>
            <setting name="TUESDAY_STOP" serializeAs="String">
                <value>04/03/2014 23:59:59</value>
            </setting>
            <setting name="WEDNESDAY_START" serializeAs="String">
                <value>2014-04-03</value>
            </setting>
            <setting name="WEDNESDAY_STOP" serializeAs="String">
                <value>04/03/2014 23:59:59</value>
            </setting>
            <setting name="THURSDAY_START" serializeAs="String">
                <value>2014-04-03</value>
            </setting>
            <setting name="THURSDAY_STOP" serializeAs="String">
                <value>04/03/2014 23:59:59</value>
            </setting>
            <setting name="FRIDAY_START" serializeAs="String">
                <value>2014-04-03</value>
            </setting>
            <setting name="FRIDAY_STOP" serializeAs="String">
                <value>04/03/2014 23:59:59</value>
            </setting>
            <setting name="SATURDAY_START" serializeAs="String">
                <value>2014-04-03</value>
            </setting>
            <setting name="SATURDAY_STOP" serializeAs="String">
                <value>04/03/2014 23:59:59</value>
            </setting>
            <setting name="DO_NOT_OVERWRITE_BLOCKED_PICTURES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SETTINGS_SCHEDULE" serializeAs="String">
                <value />
            </setting>
            <setting name="DONT_RUN_ON_BATTERY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BING_ACCESS_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="SINGLE_API_LIMIT_WARNING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SEARCH_ENGINE_ORDER" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Google</string>
                        <string>Bing</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PANIC_IMAGE" serializeAs="String">
                <value />
            </setting>
            <setting name="QUICK_RUN_SHORTCUT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PANIC_SHORTCUT" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SETTINGS_SHORTCUT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SHOW_CAPTION" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOW_DOMAIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOW_TERM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DESKTOP_LABEL_LOCATION" serializeAs="String">
                <value>1</value>
            </setting>
        </Exact_Ferret.Properties.Settings>
    </userSettings>
</configuration>